<div>
  <div class="span7 box">
    <h4 class="text-center"><b>Sign in</b></h4>
    <div class="span6 form-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group"><%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control' %></div>

        <div class="form-group"><%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control' %></div>

        <div><%= f.submit "Sign in", class: 'btn btn-primary' %></div>
      <% end %>
       <%= render partial: 'devise/shared/links' %>
    </div>
  </div>
</div>




